@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Poppins&family=Roboto&family=Rubik:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;

}


html, body *{
    font-family: 'Rubik', sans-serif;
    text-align: left;
    color: #1B262C;
}

a {
    text-decoration: none;
    cursor: pointer;
}
ul {    list-style: none;
}
ol {    list-style: none;
}

button {
    text-decoration: none;
    cursor: pointer;
}