
body {
    background: rgb(185,243,252);
    background: linear-gradient(45deg, rgba(185,243,252,1) 0%, rgba(144,199,207,1) 25%, rgba(82,156,168,1) 50%, rgba(32,139,159,1) 75%, rgba(1,94,113,1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.player-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 40%;
    border-radius: 1rem;
}

.game-process-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 10%;
    border: 2px black solid;
    border-radius: 1rem;
}

.player1 {
    background-color: #3282B8;
}

.player2 {
    background-color: #0F4C75;
}

.player {
    height: 25%;
    width: 50%;
    border: 1px black solid;
}

h1 {
    font-size: 2rem;
    text-align: center;

}

p {
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    font-size: 1.7rem;
    text-align: center;
}


.btn-box {
    text-align: center;
    font-size: 2vh;
    height: 5%;
    border: 1px black solid;
    border-radius: 5px;
}



.cube {
    height: 10rem;
    width: 100%;
    border: 1px black solid;
}

.cube1 {
    background: url(../assets/images/dice1.png) no-repeat center center/cover;
}

.cube2 {
    background: url(../assets/images/dice6.png) no-repeat center center/cover;
    background-size: 100% 100%;
}

.hidden1 {
    display: none;
}

.hidden2 {
    display: none;
}

.modal {
    display: block;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: absolute;
    left: 25vw;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    width: 50vw;
    background-color: #fefefe;
    margin: 1vh 1vw;
    border: 1px solid #888;
  }

  #score-choose {
    font-size: 2rem;
    text-align: center;
    width: 15rem;
    height: 4rem;
  }

  #start-btn {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    height: 4rem;
    min-width: 20rem;
  }

li {
    list-style:disc;
    font-size: 1.5rem;
    text-align: left;
    margin: 5px 0;
}

.modal-bot-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 100%;
}

