
body {
    background: rgb(185,243,252);
    background: linear-gradient(45deg, rgba(185,243,252,1) 0%, rgba(144,199,207,1) 25%, rgba(82,156,168,1) 50%, rgba(32,139,159,1) 75%, rgba(1,94,113,1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.player-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 65rem;
    width: 50rem;
    border-radius: 1rem;
}

.game-process-box {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65rem;
    width: 15rem;
    /* border: 2px black solid; */
    /* border-radius: 1rem; */
}

.btn-box {
    background-color: #8cc0ed;
    text-align: center;
    font-size: 2vh;
    width: 14rem;
    height: 5rem;
    border: 2px #0F4C75 solid;
    border-radius: 5px;
}

.cube {
    height: 15rem;
    width: 15rem;
}

.player1 {
    background-color: #8cc0ed;
}

.player2 {
    background-color: #0F4C75;
}

.player {
    margin-top: 2rem;
    height: 30%;
    width: 50%;
    border: 2px black solid;
    border-radius: 7px;
}

.current-score {
    margin-bottom: 2rem;
    border: 2px black solid;
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

h1 {
    font-size: 3rem;
    text-align: center;

}

p {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

.hidden1 {
    display: none;
}

.hidden2 {
    display: none;
}

.modal {
    display: block;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: absolute;
    left: 25vw;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    width: 50vw;
    background-color: #fefefe;
    margin: 1vh 1vw;
    border: 1px solid #888;
  }

  #score-choose {
    font-size: 2rem;
    text-align: center;
    width: 15rem;
    height: 4rem;
  }

  #start-btn {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    height: 4rem;
    min-width: 20rem;
  }

li {
    list-style:disc;
    font-size: 2rem;
    text-align: left;
    margin: 5px 0;
    padding: .5rem 0;
}

.modal-top-content {
    margin: 0 3rem;
}

.modal-bot-content {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
}

.win-animation {
    animation: shake 0.5s linear infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.double-6 {
    display: none;
    position: absolute;
    left: 15%;
    top: 15%;
    height: 70%;
    width: 70%;
    /* border: 3px black solid; */
}



/* Smartphones */
@media only screen and (max-width: 500px) {

    body {
        flex-direction: column;
        justify-content: space-between;
    }

    .game-process-box {
        padding: 0 1rem;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        height: 30%;
        width: 100%;
        column-gap: .5rem;
        grid-template-areas: 
                    "cube1 cube1 cube2 cube2"
                    "new roll roll hold"
    }

    .player-box {
        justify-content: space-between;
        margin: 1rem 0;
        width: 80%;
        height: 30%;
    }

    .btn-box {
        height: 100%;
        font-size: 1.7rem;
    }

    .player {
        border: none;
    }

    .current-score {
        border: none;
    }

    .cube1 {
        grid-area: cube1;
    }

    .cube2 {
        grid-area: cube2;
    }

    .roll-dice {
        width: 100%;
        grid-area: roll;
    }

    .hold {
        width: 100%;
        grid-area: hold;
    }

    .winner-check {
        width: 100%;
        grid-area: check
    }

    .new-game {
        width: 100%;
        grid-area: new;
    }

    h1, p{
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .modal-content {
        width: 90%;
        height: 80%;
        top: 10%;
        left: 5%;
    }

    .modal-top-content {
        margin: 1rem 3rem;
    }

}


/* ---------Tablets------------ */
@media(min-width: 501px) and (max-width: 1024px) {
    .modal-content {
        justify-content: center;
        width: 90%;
        height: 80%;
        top: 10%;
        left: 5%;
    }

    .modal-top-content {
        margin: 1rem 3rem;
    }

    h1, p {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    #start-btn {

        font-size: 1.5rem;

    }

    body {
        justify-content: space-between;
    }

    .player-box {
        height: 50rem;
        width: 35rem;
        margin: 0 1rem;
    }

    .game-process-box {
        height: 50rem;
    }

    .btn-box {
        font-size: 1.5rem;
    }

    .cube {
        height: 12rem;
        width: 12rem;
    }

    .current-score {
        width: 65%
    }

    .player {
        width: 70%;
    }
}
    

/* -----------FullHD------------ */
@media(min-width: 1025px) and (max-width: 2559px) {
    .player-box {
        min-width: 50rem;
    }

    .btn-box {
        width: 16rem;
    }
}


/* --------------------2k + ------------------- */
@media(min-width: 2560px) {
    .player-box {
        margin: 0 3rem;
        width: 70rem;
        height: 85rem;
    }

    .game-process-box {
        height: 85rem;
        width: 25rem;
    }

    .btn-box {
        width: 25rem;
        height: 10rem;
    }

    .cube {
        width: 20rem;
        height: 20rem;
    }

    h1 {
        font-size: 5rem;
    }  
    h2 {
        font-size: 4rem;
    }  
    p {
        font-size: 3rem;
    }
}
